@import "../styles/mixins.scss";

.container {
  display: grid;
  row-gap: 0.75rem;
}

.title {
  font-weight: var(--font-weight-medium);
}

.fieldset {
  display: flex;
  column-gap: 1rem;
}

.item {
  display: grid;
  place-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--round-full);
  border: solid 1px var(--colors-gray-200);
}

.itemColor {
  border-radius: var(--round-full);
  width: 1.75rem;
  height: 1.75rem;
}

.input {
  @include radio(".item") {
    border: solid 2px var(--colors-accent-500);
  }
}
