@import "../styles/mixins.scss";

.container {
  display: flex;
  column-gap: 1.25rem;
}

.item {
  border-radius: var(--round-sm);
  padding: 0.25rem 1rem;
  outline: solid 1px var(--colors-gray-200);
}

.input {
  @include radio(".item");
}
