@import "../styles/mixins.scss";

.container {
  display: grid;
  row-gap: 0.75rem;
}

.title {
  font-weight: var(--font-weight-medium);
}

.fieldset {
  display: flex;
  column-gap: 1.25rem;
  padding: 3px;
}

.item {
  border-radius: var(--round-md);
  padding: 0.25rem 1rem;
  border: solid 1px var(--colors-gray-200);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 2.5rem;
  width: 4rem;
  position: relative;
}

.input {
  @include radio(".item") {
    border: solid 2px var(--colors-accent-500);
  }
}
